<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232630971201-3h8phbcq4f5n588kc4ctt7fnf08n1n63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232630971201-3h8phbcq4f5n588kc4ctt7fnf08n1n63</string>
	<key>API_KEY</key>
	<string>AIzaSyCTKSNDmwuhJ-RaFMQhLe4w7AMp5fEnImg</string>
	<key>GCM_SENDER_ID</key>
	<string>232630971201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamyapps.korttivahti</string>
	<key>PROJECT_ID</key>
	<string>korttivahti</string>
	<key>STORAGE_BUCKET</key>
	<string>korttivahti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232630971201:ios:13cddf92b150fd4fe58fc0</string>
</dict>
</plist>